@model Bangazon.Models.Order

@{
    ViewData["Title"] = "CancelOrder";
}

<h1>CancelOrder</h1>
<h4>Are your sure you want to cancel your order?</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderProductsList[0].Product.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderProductsList[0].Product.Price)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderProducts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Price)
                </td>
            </tr>
        }
    </tbody>
</table>
<form asp-action="CancelOrderConfirmed">
    <input type="hidden" asp-for="OrderId" />
    <input type="submit" value="Cancel Order" class="btn btn-primary" /> |
    <a asp-action="Index">Back to List</a>
</form>

@Html.ActionLink("Cancel Order", "CancelOrderConfirmed", "Cart", new { id = Model.OrderId })