@model IEnumerable<Bangazon.Models.OrderProduct>

@{
    ViewData["Title"] = "Index";
}

<h1>Shopping Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Price)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Price)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.OrderProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
