@model Bangazon.Models.GroupedProducts

@{
    ViewData["Title"] = "GetProductListForCategory";
}

<h1>@Model.TypeName</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductsList[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductsList[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductsList[0].Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProductsList) {
        <tr>
            <td>
                @Html.ActionLink(item.Title.ToString(), "Details", "Products", new { id=item.ProductId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
        </tr>
}
    </tbody>
</table>
