@model IEnumerable<Bangazon.Models.ProductType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Label) (@item.Products.Count)
                <td>
                    <a asp-action="Details" asp-route-id="@item.ProductTypeId">Details</a>
                </td>
                @foreach (var product in item.Products.Take(3))
                {
                <tr><td>@Html.ActionLink(product.Title.ToString(), "Details", "Products", new { id = product.ProductId })</td></tr>
            }
                </td>
            </tr>
        }
        </tbody>
    </table>
